body {
font-family: Arial;
background: #f4f6f8;
}


.container {
width: 600px;
margin: auto;
background: white;
padding: 20px;
margin-top: 50px;
border-radius: 10px;
}


button {
padding: 10px;
background: #007bff;
color: white;
border: none;
border-radius: 5px;
}


table {
width: 100%;
margin-top: 20px;
}


th, td {
padding: 10px;
text-align: center;
}